@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,p,div,button, select, body {
    @apply transition-colors duration-300
}

select {
    outline: none;
}

body {
    font-family: "Inter", sans-serif;
}
#root {
    height: 100vh;
}
/* .dark {
    background: rgb(15 23 42);
} */

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(51 65 85);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
    z-index: -1;
    transform: translateY(-0.8rem);
}
.swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal span {
    width: 5px;
    height: 5px;
    margin: 1.5px;
}
.swiper.dark > .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal span {
    background: white;
}

@media (min-width: 550px) {
    .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal span {
        width: 8px;
        height: 8px;
        margin: 4px;
    }
}

.swiper-slide:first-child > button {
    background: rgb(241 245 249);
    border: 1px solid rgb(120, 120, 120);
}
.swiper-slide:first-child .first {
    background: white;
}
.swiper-slide.dark:first-child .card{
    background-color: rgb(203 213 225);
}
.swiper-slide.dark:first-child .card h2 {
    color: black;
}
.swiper-slide.dark:first-child .card div > p {
    color: black;
}

.card {
    transition: transform 300ms;
}
.card:hover {
    transform: scale(1.03);
}
@media (min-width: 1200px) {
    .card {
        width: clamp(15rem, 15rem + 1vw, 18rem) !important;
    }
}
.theme__btn {
    transition: all 300ms;
}
.theme__btn:active {
    transform: scale(0.9);
}